*.terraform
*.tfstate
*.tfstate.backup
*.lock*
*.infracost
production*
# Editor files
*.swp
*.swo


# Terraform plugins
.terraform.d
environments/primary/terraform.tfvars
environments/dr/terraform.tfvars